.containr{
    display: grid;
    background: blanchedalmond;
    font-size: 30px;
    width:900px;
    padding: 30px;
    margin: 30px;
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows:repeat(2,150px);
    grid-gap: 5px;

    grid-auto-rows: 80px;
    grid-auto-flow: column;
    grid-auto-columns: .5fr;
}
.One{
   background: green; 
}
.Two{
   background:pink; 
}
.Three{
   background : darkseagreen;  
}
.Four{
   background: darkslategray;
}
.Five{
  background: aqua;

}
.Six{
    background: red;
}
.Sevan{
    background:blueviolet;
}
.Eight{
    background: orangered;
}